/*
  Welcome to Compass.
  In this file you should write your main styles. (or centralize your imports)
  Import this file using the following HTML or equivalent:
  <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />

@import compass/reset
@import grid
@import variables

/* css from other places */
@import vendor


/* TESTING */

.test
	+test-background(teal)


.hidden
	display: none





/*----------------------------------------------*/
/* Typography
/*------------------------------------------------*/


body
	font-family: 'Karla'
	background: $sexyblue
	border: 5px solid #fff


h1
	font-family: 'Montserrat'
	font-size: 20px
	line-height: 23px


h2
	font-family: 'Montserrat'
	font-size: 1.5em
	text-transform: uppercase
	color: #fff




a
	text-decoration: none
	color: white



/*----------------------------------------------*/
/* SVG
/*------------------------------------------------*/
#sketch
	width: 300px
	margin: 0 auto
	display: block



/*----------------------------------------------*/
/* Guess Column
/*------------------------------------------------*/
input
	display: block
	margin: 20px 0
	padding: 0.5em .5em 0.5em 0.7em
	/* width: calc(100% - 2em) */
	border: none
	background: white
	color: rgba(0,0,0,0.8)
	font-size: 2em
	letter-spacing: .3em
	text-transform: uppercase


input:focus
	outline: none


.guess
	margin-top: 40px


p.enter
	display: block
	float: right
	padding: 15px
	color: white




/* Answer
/*------------------------------------------------*/

#answer
	margin-top: 100px
	font-family: 'Playfair Display'
	font-weight: 700
	font-style: italic
	line-height: 1.5em
	font-size: 20px
	color: white


/* Navigation */

// ul.nav
// 	display: flex

// 	li
// 		display: block
// 		font-size: 2em
// 		background: mistyrose
// 		width: 100%
// 		height: 10%
// 		text-align: center
// 		padding-top: 20px

// 		a
// 			text-decoration: none


/*----------------------------------------------*/
/* Alerts
/*------------------------------------------------*/

.alert
	height: 80px
	position: absolute
	bottom: 0
	width: 100%
	font-size: 3em
	text-align: center
	padding: 10px
	color: white

#correct
	background: green

#wrong
	background: red

#timesup
	background: #00008B
	height: 100%
	padding-top: 300



/*----------------------------------------------*/
/* Navigation
/*------------------------------------------------*/
.nav-wrapper
	display: inline-block

	img
		width: 100%

	.nav-box
		width: 16vw
		height: 12vw
		background: #101D42
		margin-right: 2px
		float: left
		font-size: 2em
		text-align: center
		display: table

		&.inactive
			pointer-events: none
			cursor: default
			opacity: .5

		&.completed
			pointer-events: none
			cursor: default
			opacity: 1


		a
			text-decoration: none
			display: table-cell
			vertical-align: middle
			text-align: center












/*------------------------------------------------*/

@import queries


