/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*
  Simple Grid
  Project Page - http://thisisdallas.github.com/Simple-Grid/
  Author - Dallas Bass
  Site - http://ninenineteen.co
*/
/* line 8, ../sass/_grid.scss */
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 14, ../sass/_grid.scss */
body {
  margin: 0;
}

/* line 18, ../sass/_grid.scss */
[class*='col-'] {
  float: left;
  min-height: 1px;
  padding-right: 20px;
  /* column-space */
}

/* line 24, ../sass/_grid.scss */
.grid {
  width: 100%;
  max-width: 1140px;
  min-width: 748px;
  /* when using padded grid on ipad in portrait mode, width should be viewport-width - padding = (768 - 20) = 748. actually, it should be even smaller to allow for padding of grid containing element */
  margin: 0 auto;
  overflow: hidden;
}

/* line 32, ../sass/_grid.scss */
.grid:after {
  content: "";
  display: table;
  clear: both;
}

/* line 38, ../sass/_grid.scss */
.grid-pad {
  padding-top: 20px;
  padding-left: 20px;
  /* grid-space to left */
  padding-right: 0;
  /* grid-space to right: (grid-space-left - column-space) e.g. 20px-20px=0 */
}

/* line 44, ../sass/_grid.scss */
.push-right {
  float: right;
}

/* Content Columns */
/* line 50, ../sass/_grid.scss */
.col-1-1 {
  width: 100%;
}

/* line 53, ../sass/_grid.scss */
.col-2-3, .col-8-12 {
  width: 66.66%;
}

/* line 57, ../sass/_grid.scss */
.col-1-2, .col-6-12 {
  width: 50%;
}

/* line 61, ../sass/_grid.scss */
.col-1-3, .col-4-12 {
  width: 33.33%;
}

/* line 65, ../sass/_grid.scss */
.col-1-4, .col-3-12 {
  width: 25%;
}

/* line 69, ../sass/_grid.scss */
.col-1-5 {
  width: 20%;
}

/* line 73, ../sass/_grid.scss */
.col-1-6, .col-2-12 {
  width: 16.667%;
}

/* line 77, ../sass/_grid.scss */
.col-1-7 {
  width: 14.28%;
}

/* line 81, ../sass/_grid.scss */
.col-1-8 {
  width: 12.5%;
}

/* line 85, ../sass/_grid.scss */
.col-1-9 {
  width: 11.1%;
}

/* line 89, ../sass/_grid.scss */
.col-1-10 {
  width: 10%;
}

/* line 93, ../sass/_grid.scss */
.col-1-11 {
  width: 9.09%;
}

/* line 97, ../sass/_grid.scss */
.col-1-12 {
  width: 8.33%;
}

/* Layout Columns */
/* line 103, ../sass/_grid.scss */
.col-11-12 {
  width: 91.66%;
}

/* line 107, ../sass/_grid.scss */
.col-10-12 {
  width: 83.333%;
}

/* line 111, ../sass/_grid.scss */
.col-9-12 {
  width: 75%;
}

/* line 115, ../sass/_grid.scss */
.col-5-12 {
  width: 41.66%;
}

/* line 119, ../sass/_grid.scss */
.col-7-12 {
  width: 58.33%;
}

/* Pushing blocks */
/* line 125, ../sass/_grid.scss */
.push-2-3, .push-8-12 {
  margin-left: 66.66%;
}

/* line 129, ../sass/_grid.scss */
.push-1-2, .push-6-12 {
  margin-left: 50%;
}

/* line 133, ../sass/_grid.scss */
.push-1-3, .push-4-12 {
  margin-left: 33.33%;
}

/* line 137, ../sass/_grid.scss */
.push-1-4, .push-3-12 {
  margin-left: 25%;
}

/* line 141, ../sass/_grid.scss */
.push-1-5 {
  margin-left: 20%;
}

/* line 145, ../sass/_grid.scss */
.push-1-6, .push-2-12 {
  margin-left: 16.667%;
}

/* line 149, ../sass/_grid.scss */
.push-1-7 {
  margin-left: 14.28%;
}

/* line 153, ../sass/_grid.scss */
.push-1-8 {
  margin-left: 12.5%;
}

/* line 157, ../sass/_grid.scss */
.push-1-9 {
  margin-left: 11.1%;
}

/* line 161, ../sass/_grid.scss */
.push-1-10 {
  margin-left: 10%;
}

/* line 165, ../sass/_grid.scss */
.push-1-11 {
  margin-left: 9.09%;
}

/* line 169, ../sass/_grid.scss */
.push-1-12 {
  margin-left: 8.33%;
}

@media handheld, only screen and (max-width: 767px) {
  /* line 174, ../sass/_grid.scss */
  .grid {
    width: 100%;
    min-width: 0;
    margin-left: 0;
    margin-right: 0;
    padding-left: 20px;
    /* grid-space to left */
    padding-right: 10px;
    /* grid-space to right: (grid-space-left - column-space) e.g. 20px-10px=10px */
  }

  /* line 183, ../sass/_grid.scss */
  [class*='col-'] {
    width: auto;
    float: none;
    margin: 10px 0;
    padding-left: 0;
    padding-right: 10px;
    /* column-space */
  }

  /* Mobile Layout */
  /* line 193, ../sass/_grid.scss */
  [class*='mobile-col-'] {
    float: left;
    margin: 0 0 10px;
    padding-left: 0;
    padding-right: 10px;
    /* column-space */
    padding-bottom: 0;
  }

  /* line 201, ../sass/_grid.scss */
  .mobile-col-1-1 {
    width: 100%;
  }

  /* line 204, ../sass/_grid.scss */
  .mobile-col-2-3, .mobile-col-8-12 {
    width: 66.66%;
  }

  /* line 208, ../sass/_grid.scss */
  .mobile-col-1-2, .mobile-col-6-12 {
    width: 50%;
  }

  /* line 212, ../sass/_grid.scss */
  .mobile-col-1-3, .mobile-col-4-12 {
    width: 33.33%;
  }

  /* line 216, ../sass/_grid.scss */
  .mobile-col-1-4, .mobile-col-3-12 {
    width: 25%;
  }

  /* line 220, ../sass/_grid.scss */
  .mobile-col-1-5 {
    width: 20%;
  }

  /* line 224, ../sass/_grid.scss */
  .mobile-col-1-6, .mobile-col-2-12 {
    width: 16.667%;
  }

  /* line 228, ../sass/_grid.scss */
  .mobile-col-1-7 {
    width: 14.28%;
  }

  /* line 232, ../sass/_grid.scss */
  .mobile-col-1-8 {
    width: 12.5%;
  }

  /* line 236, ../sass/_grid.scss */
  .mobile-col-1-9 {
    width: 11.1%;
  }

  /* line 240, ../sass/_grid.scss */
  .mobile-col-1-10 {
    width: 10%;
  }

  /* line 244, ../sass/_grid.scss */
  .mobile-col-1-11 {
    width: 9.09%;
  }

  /* line 248, ../sass/_grid.scss */
  .mobile-col-1-12 {
    width: 8.33%;
  }

  /* Layout Columns */
  /* line 254, ../sass/_grid.scss */
  .mobile-col-11-12 {
    width: 91.66%;
  }

  /* line 258, ../sass/_grid.scss */
  .mobile-col-10-12 {
    width: 83.333%;
  }

  /* line 262, ../sass/_grid.scss */
  .mobile-col-9-12 {
    width: 75%;
  }

  /* line 266, ../sass/_grid.scss */
  .mobile-col-5-12 {
    width: 41.66%;
  }

  /* line 270, ../sass/_grid.scss */
  .mobile-col-7-12 {
    width: 58.33%;
  }

  /* line 274, ../sass/_grid.scss */
  .hide-on-mobile {
    display: none !important;
    width: 0;
    height: 0;
  }
}
/* css from other places */
/* Button Styles
/*---------*/
/* line 4, ../sass/_vendor.scss */
button, .button, input[type=submit] {
  margin-right: 10px;
  outline: none;
  border: 0;
  background: #5786c1;
  color: white;
  padding: 8px 14px;
  font-weight: bold;
  font-size: 18px;
  text-decoration: none;
  display: inline-block;
  /* needed for anchors */
  position: relative;
  cursor: pointer;
  box-shadow: 1px 0px #3a587f, 0px 1px #4171ae, 2px 1px #3a587f, 1px 2px #4171ae, 3px 2px #3a587f, 2px 3px #4171ae, 4px 3px #3a587f, 3px 4px #4171ae, 5px 4px #3a587f, 4px 5px #4171ae, 6px 5px #3a587f, 5px 6px #4171ae;
}
/* line 23, ../sass/_vendor.scss */
button:hover, button:focus, button.hover, button.focus, .button:hover, .button:focus, .button.hover, .button.focus, input[type=submit]:hover, input[type=submit]:focus, input[type=submit].hover, input[type=submit].focus {
  transform: translate(2px, 2px);
  box-shadow: 1px 0px #3a587f, 0px 1px #4171ae, 2px 1px #3a587f, 1px 2px #4171ae, 3px 2px #3a587f, 2px 3px #4171ae, 4px 3px #3a587f, 3px 4px #4171ae;
}
/* line 31, ../sass/_vendor.scss */
button:active, button.active, .button:active, .button.active, input[type=submit]:active, input[type=submit].active {
  transform: translate(4px, 4px);
  box-shadow: 1px 0px #3a587f, 0px 1px #4171ae, 2px 1px #3a587f, 1px 2px #4171ae;
}

/* Dialog Styels
/*---------*/
/* line 44, ../sass/_vendor.scss */
#dialog-message {
  margin-bottom: 20px;
}

/* line 47, ../sass/_vendor.scss */
#dialog-overlay {
  /* set it to fill the whil screen */
  width: 100%;
  height: 100%;
  /* transparency for different browsers */
  filter: alpha(opacity=50);
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
  opacity: 0.5;
  background: #000;
  /* make sure it appear behind the dialog box but above everything else */
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3000;
  /* hide it by default */
  display: none;
}

/* line 70, ../sass/_vendor.scss */
#dialog-box {
  /* css3 drop shadow */
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  background: #eee;
  /* styling of the dialog box, i have a fixed dimension for this demo */
  width: 328px;
  /* make sure it has the highest z-index */
  position: absolute;
  z-index: 5000;
  /* hide it by default */
  display: none;
}

/* line 88, ../sass/_vendor.scss */
#dialog-box .dialog-content {
  /* style the content */
  text-align: left;
  padding: 10px;
  margin: 13px;
  color: #666;
  font-family: arial;
  font-size: 11px;
}

/* extra styling */
/* line 100, ../sass/_vendor.scss */
#dialog-box .dialog-content p {
  font-weight: 700;
  margin: 0;
}

/* line 104, ../sass/_vendor.scss */
#dialog-box .dialog-content ul {
  margin: 10px 0 10px 20px;
  padding: 0;
  height: 50px;
}

/* TESTING */
/* line 17, ../sass/screen.sass */
.test {
  background-color: teal;
}

/* line 21, ../sass/screen.sass */
.hidden {
  display: none;
}

/*---------------------------------------------- */
/* Typography */
/*------------------------------------------------ */
/* line 33, ../sass/screen.sass */
body {
  font-family: "Karla";
  background: crimson;
  border: 5px solid #fff;
}

/* line 39, ../sass/screen.sass */
h1 {
  font-family: "Montserrat";
  font-size: 20px;
  line-height: 23px;
}

/* line 45, ../sass/screen.sass */
h2 {
  font-family: "Montserrat";
  font-size: 1.5em;
  text-transform: uppercase;
}

/* line 53, ../sass/screen.sass */
a {
  text-decoration: none;
  color: white;
}

/*---------------------------------------------- */
/* SVG */
/*------------------------------------------------ */
/* line 62, ../sass/screen.sass */
#sketch {
  width: 300px;
  margin: 0 auto;
  display: block;
}

/*---------------------------------------------- */
/* Guess Column */
/*------------------------------------------------ */
/* line 72, ../sass/screen.sass */
input {
  display: block;
  margin: 20px 0;
  padding: 0.5em 0.5em 0.5em 0.7em;
  /* width: calc(100% - 2em) */
  border: none;
  background: white;
  color: rgba(0, 0, 0, 0.8);
  font-size: 2em;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}

/* line 85, ../sass/screen.sass */
input:focus {
  outline: none;
}

/* line 89, ../sass/screen.sass */
.guess {
  margin-top: 40px;
}

/* line 93, ../sass/screen.sass */
p.enter {
  display: block;
  float: right;
  padding: 15px;
  color: white;
}

/* Answer */
/*------------------------------------------------ */
/* line 105, ../sass/screen.sass */
#answer {
  margin-top: 100px;
  font-family: "Playfair Display";
  font-weight: 700;
  font-style: italic;
  line-height: 1.5em;
  font-size: 20px;
}

/* Navigation */
/*---------------------------------------------- */
/* Alerts */
/*------------------------------------------------ */
/* line 136, ../sass/screen.sass */
.alert {
  background: blanchedalmond;
  height: 80px;
  position: absolute;
  bottom: 0;
  width: 100%;
  font-size: 3em;
  text-align: center;
  padding: 10px;
}

/*---------------------------------------------- */
/* Navigation */
/*------------------------------------------------ */
/* line 151, ../sass/screen.sass */
.nav-wrapper {
  display: inline-block;
}
/* line 154, ../sass/screen.sass */
.nav-wrapper img {
  width: 100%;
}
/* line 157, ../sass/screen.sass */
.nav-wrapper .nav-box {
  width: 16vw;
  height: 12vw;
  background: mistyrose;
  margin-right: 2px;
  float: left;
  font-size: 2em;
  text-align: center;
  display: table;
}
/* line 167, ../sass/screen.sass */
.nav-wrapper .nav-box.inactive {
  pointer-events: none;
  cursor: default;
  opacity: 0.5;
}
/* line 172, ../sass/screen.sass */
.nav-wrapper .nav-box.completed {
  pointer-events: none;
  cursor: default;
  opacity: 1;
}
/* line 178, ../sass/screen.sass */
.nav-wrapper .nav-box a {
  text-decoration: none;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

/*------------------------------------------------ */
/*---------------------------------------------- */
/* Custom, iPhone Retina */
/*------------------------------------------------ */
/*---------------------------------------------- */
/* Extra Small Devices, Phones */
/*------------------------------------------------ */
/*---------------------------------------------- */
/* Small Devices, Tablets */
/*------------------------------------------------ */
@media only screen and (min-width: 767px) {
  /* line 21, ../sass/_queries.sass */
  .nav-wrapper .nav-box {
    width: 12vw;
    height: 12vw;
    margin-bottom: 10px;
  }

  /* line 27, ../sass/_queries.sass */
  #sketch {
    width: 400px;
    margin-top: 100px;
  }
}
/*---------------------------------------------- */
/* Medium Devices, Desktops */
/*------------------------------------------------ */
@media only screen and (min-width: 992px) {
  /* line 41, ../sass/_queries.sass */
  .nav-wrapper .nav-box {
    width: 10vw;
    height: 10vw;
  }
}
/*---------------------------------------------- */
/* Large Devices, Wide Screens */
/*------------------------------------------------ */
@media only screen and (min-width: 1200px) {
  /* line 52, ../sass/_queries.sass */
  .nav-wrapper .nav-box {
    width: 10vw;
    height: 10vw;
  }
}
